@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    max-width: 100vw;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D8E1E9;
    width: 100vw;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    margin: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    width: 80vw;
}

.container h2 {
    color: #7392B7;
}

.container h3 {
    color: #B3C5D7;
}


.container p {
    padding: 1.5rem;
    font-weight: 200;
    text-align: justify;
}

.contact {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.contact img{
    margin-top: 0;
    border-radius: 0;
    width: 1.5em;
}

.nav .link  {
    color: #7392B7;
    margin: 0.2rem;
    text-decoration: none;
}

.nav img {
    margin: 1rem;
    width: 11rem;
}

.sk {
    margin: 1.5rem;
    margin-top: 2rem;
    display: flex;
    align-self: flex-start;
}


.skills {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills img {
    margin: 0.5rem;
    border-radius: 0;
    width: 11vw;
}

.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 95vw;
    border-radius: 5px;
    background-color: #457B9D ;
}

.card img {
    border-radius: 5px;
    margin: 0.5em;
    margin-bottom: 0;
    width: 95%;
    align-self: center;
}

.card p, h3{
    padding: 0px;
    margin: 0.5em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    color: white;
}

.card h3 {
    color: white;

}

.card p {
    font-size: small;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icons img {
    margin: 0.5em;
    width: 1.8em;
}

.proyects {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.icon-contact{
    width: 1.5em ;
    margin-top: 0.4em;
    margin-right: 1em;
}

.formulario {
    display: flex;
    flex-direction: column;
}


.formulario p{
    padding: 0.5em;
}

.formulario span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em;
}

.form {
    margin-top: 2em;
}

.form input {
    border: none;
    border-bottom: 2px solid #E1E1E6 ;
    width: 90vw;
    outline: 0;
    padding: 10px;
}

.textarea {
    border: 0;
    border-bottom: 2px solid #E1E1E6 ;
    width: 90vw;
    height: 10vh;
    resize: none;
    padding: 10px;
    margin-top: 10px;
    outline: 0;
    overflow: hidden;
}

.division {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-bottom: 1em;
}


.division span {
    align-items: flex-start;
    color: #457B9D;
    margin-bottom: 0;
}

.division input::placeholder {
    color: #E1E1E6;
}

.textarea::placeholder {
    color: #E1E1E6;
}

.division input:focus {
    border: none;
    border-bottom: 2px solid #457B9D ;
}

.division textarea:focus {
    border: none;
    border-bottom: 2px solid #457B9D ;
}


.submit-btn {
    background-color: #457B9D;
    color: white;
    width: 90vw;
    height: 8vh;
    border-radius: 10px;
    margin: 2em;
    font-weight: 600;
    border: none;
}

.submit-btn:hover {
    opacity: 0.60;
    cursor: pointer;
}

.info {
    background-color: #457B9D;
    width: 100%;
    color: white;
    margin: 0px;
    padding: 1em;
}

@media (min-width: 480px) {


    .foto {
        width: 60vw;
    }


}